{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div id="post-list">
        {% include "post_list.html" %}
    </div>
    <div id="loading" style="display: none;">
        <img src="{% static 'icons/spinner.svg' %}" alt="Loading...">
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', () => {
    let page = 1;
    let loading = false;
    let allPostsLoaded = false;
    const postList = document.getElementById('post-list');
    const loadingIndicator = document.getElementById('loading');

    function loadMorePosts() {
        if (loading || allPostsLoaded) return;
        loading = true;
        loadingIndicator.style.display = 'block';

        fetch(`?page=${++page}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.num_posts > 0) {
                postList.insertAdjacentHTML('beforeend', data.html);
                attachEventListeners();  // Reattach event listeners to newly loaded posts
            }
            loading = false;
            loadingIndicator.style.display = 'none';

            if (!data.has_next || data.num_posts === 0) {
                allPostsLoaded = true;
                window.removeEventListener('scroll', handleScroll);
                loadingIndicator.style.display = 'none';
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            loading = false;
            loadingIndicator.style.display = 'none';
        });
    }

    function handleScroll() {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 500) {
            loadMorePosts();
        }
    }

    function attachEventListeners() {
        document.querySelectorAll('.bookmark-container').forEach(container => {
            container.addEventListener('click', (event) => {
                event.stopPropagation();  // Prevent triggering the post click event
                const addIcon = container.querySelector('.add-bookmark');
                const removeIcon = container.querySelector('.remove-bookmark');
                const postId = addIcon.getAttribute('data-id');
                const action = addIcon.style.display === 'none' ? 'remove' : 'add';

                // Immediately toggle the icons for instant feedback
                addIcon.style.display = action === 'add' ? 'none' : 'inline';
                removeIcon.style.display = action === 'add' ? 'inline' : 'none';

                fetch('/bookmark/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ post_id: postId, action: action })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.status !== 'added' && data.status !== 'removed') {
                        // If the server action failed, revert the icon change
                        addIcon.style.display = action === 'add' ? 'inline' : 'none';
                        removeIcon.style.display = action === 'add' ? 'none' : 'inline';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // If there's an error, revert the icon change
                    addIcon.style.display = action === 'add' ? 'inline' : 'none';
                    removeIcon.style.display = action === 'add' ? 'none' : 'inline';
                });
            });
        });

        document.querySelectorAll('.post-container').forEach(container => {
            container.addEventListener('click', (event) => {
                // Prevent navigation if the click was on the bookmark button
                if (event.target.classList.contains('bookmark-button')) {
                    return;
                }

                const postId = container.getAttribute('data-post-id');
                window.location.href = `/post/${postId}/`;
            });
        });
    }

    window.addEventListener('scroll', handleScroll);

    attachEventListeners();  // Attach event listeners on initial load
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

<script src="https://kit.fontawesome.com/c4e4311d16.js" crossorigin="anonymous"></script>
{% endblock %}