{% extends 'base.html' %} {% block title %}Password Reset{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Password Reset</h3>
                        <p class="text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

                        <form method="POST">
                            {% csrf_token %}
{#                            {{ form.non_field_errors }}#}
                            <div class="form-group">
{#                                {{ form.email.as_widget }}#}
{#                                {{ form.email.errors }}#}
{#                                {{ form.email.label_tag }} <!-- Label for the email field -->#}
                                {{ form.email | add_class:"form-control" |attr:"placeholder: Enter E-Mail" }} <!-- The email field itself -->
                            </div>
                            <button class="btn btn-primary btn-block mt-2" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
