{% extends 'base.html' %} {% block title %}Password Reset Success!{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Password Reset Complete</h3>
                        <p class="text-center">Your password has been reset successfully. You may proceed to login with the new password</p>


    <a class="btn btn-primary btn-block mt-2" href="{% url 'login' %}">Login</a>

     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
